.scanner-image {
    width: 600px;
    height: 550px;
    object-fit: contain;
    display: block;
    pointer-events: none;
}

.scanner-image-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.rating-similar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.out-of-stock {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}