.section-title {
    text-align: center;
    margin-bottom: 40px;
    color: #D42B31;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #D42B31;
    color: #ffffff;
    font-size: 32px;
    margin: auto;
}

.icon-text {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    color: #D42B31;
    text-transform: uppercase;
}

.card {
    border: none !important;
    border-radius: 12px;
    /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    color: #D42B31;
}

.card-text {
    font-size: 16px;
    text-align: center;
    color: #555;
}

.highlight {
    font-weight: 300;
    color: #262626;
    margin-bottom: 11px;
}

.card-text {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    color: #262626;
    /* Darker text for readability */
}

.card-text strong {
    font-weight: 600;
    color: #D42B31;
    /* Highlighted color from your logo */
}

.left-text {
    text-align: left;
}

.left-text1 {
    text-align: center;
}