.custom-price-input .form-control,
.custom-price-input .input-group-text {
    height: 48px;
    /* or 40px, adjust to your preference */
    font-size: 14px;
    padding: 12px 10px;
    border-radius: 0.375rem;
}

.custom-price-input .input-group-text {
    background-color: #f8f9fa;
    border-right: 0;
}

.custom-price-input .form-control:disabled {
    background-color: #f5f5f5;
    color: #aaa;
}

.custom-price-input .form-control,
.custom-price-input .input-group-text {
    height: 48px;
    font-size: 14px;
    padding: 12px 10px;
    border-radius: 0.375rem;
}

.custom-price-input .input-group-text {
    background-color: #f8f9fa;
    border-right: 0;
}

.custom-price-input .form-control:disabled {
    background-color: #f5f5f5;
    color: #aaa;
}

.similar-product img {
    height: 300px;

}